<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ricardo.gato" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".juego"
            android:label="@string/title_activity_juego" >
        </activity>
        <activity
            android:name=".juego_medio"
            android:label="@string/title_activity_juego_medio" >
        </activity>
        <activity
            android:name=".juego_dificil"
            android:label="@string/title_activity_juego_dificil" >
        </activity>
    </application>

</manifest>
